# Node.js dependencies
node_modules/

# Expo and Metro bundler cache
.expo/
.expo-shared/

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDE and OS-specific files
.vscode/
*.log
.env
